<% const title='会員'; %>
<% const state = screen === 'signUp' ? 'Register' : 'Login'; %>
<%- include('includes/header', { title, isValidUser }); %>
<div id="contents">
  <div id="form">
    <p><%= state %></p>
    <% if (screen === 'signUp') { %>
      <%- include('admin/signup'); %>
    <% } else { %>
      <%- include('admin/signin'); %>
    <% } %>
  </div>
</div>
<%- include('includes/footer'); %>